/* Styles généraux */
/*@font-face {
	font-family: 'Made-Infinity';
	src: url('../assets/fonts/MADEINFINITYBesidePersonalUse-Medium.otf') format('opentype');
}*/
@font-face {
	font-family: 'Kolbano';
	src: url('../assets/fonts/Kolbano-regular.otf') format('opentype');
}
@font-face {
	font-family: 'KolbanoItalic';
	src: url('../assets/fonts/Kolbano-regularItalic.otf') format('opentype');
}

:root {
  --orange: #FB2E0F;
  --white: #FCF8EA;
  --title-font: 'Kolbano';
  --fs-0: 10rem;
  --fs-1: 4rem;
  --fs-2: 2rem;
  --fs-3: 1rem;
  
}
#SPA-title {
  font-family: var(--title-font);
  font-size: var(--fs-0);
  color: var(--white);
}
body {
  margin: 0;
  padding: 0;
  background-color: turquoise;
}

header {
  padding: 1rem;
  height: 100vh;
  background-color: var(--orange);
  align-content: center;
  
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem;
}
#art-container {
  display: flex;
  justify-content: center;
}
.artwork{
  font-size: var(--fs-2);
  
}
.artwork:hover {
  color: var(--orange);
}

