/* Styles généraux /
/@font-face {
 font-family: 'Made-Infinity';
 src: url('../assets/fonts/MADEINFINITYBesidePersonalUse-Medium.otf') format('opentype');
}*/
@font-face {
font-family: 'Kolbano';
src: url('../assets/fonts/Kolbano-regular.otf') format('opentype');
}
@font-face {
font-family: 'KolbanoItalic';
src: url('../assets/fonts/Kolbano-regularItalic.otf') format('opentype');
}
:root {
--orange: 
#FB2E0F;
--blue: 
#16358E;
--white: 
#efefef;
--title-font: 'Kolbano';
--fs-0: 10rem;
--fs-1: 4rem;
--fs-2: 3rem;
--fs-3: 2rem;
--fs-4: 1rem;
}
#SPA-title {
font-family: var(--title-font);
font-size: var(--fs-0);
color: var(--white);
}

body {
width: 100vw;
height: 100vh;
overflow-y: scroll;
scroll-snap-type: y mandatory;
margin: 0;
padding: 0;
background-color: var(--white);
}
main{
width: 100vw;
height: 100vh;
padding: 0;
margin: 0;
scroll-snap-align: start;
}
#header-title {
padding: 1rem;
height: 100vh;
background-color: var(--orange);
align-content: center;
scroll-snap-align: start;
}
footer {
background-color: 
#f4f4f4;
text-align: center;
padding: 1rem;
}
nav{
height: 6vh;
}
ul{
display: flex;
justify-content: center;
list-style-type: none;
gap: 3rem;
font-family: var(--title-font);
font-size: var(--fs-3);
}
a{
text-decoration: none;
color: black;
}
a:hover {
color: var(--orange);
}
#art-container {
display: flex;
justify-content: center;
gap : 2rem;

}
.artwork{
font-size: var(--fs-3);
font-family: var(--title-font);
}
.artwork:hover {
color: var(--orange);
}

#artwork-container{
width: 85vh;
height: 85vh;
overflow-y: auto;
}

#artwork-container::-webkit-scrollbar {
display: none;
}

#artwork-name-container{
overflow-y: auto;
height: 85vh;
}

#artwork-name-container::-webkit-scrollbar {
display: none;
}
#cartel {
    
    height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:4rem;
    font-family: var(--title-font);
    font-size: var(--fs-3);
}
#artist-info-container{
    display: flex;
    flex-direction:column ;
}
#buttons-container>*{
     display: flex;
    
}
#artist-name{
    font-weight: bold;
}
#success-message {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, input, textarea {
  color: black;
  font: var(--title-font);
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#contact-form {
  border: solid 3px #474544;
  max-width: 40vw;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
font-family: Arial, Helvetica, sans-serif;

}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}


::placeholder{
      text-transform: uppercase;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}


#form_button {
  background-color: var(--white);
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  
}

#form_button:hover {
  background: var(--orange);
  color:var(--white);
  border: var(--orange);
}
#contact-title{
    font-family: var(--title-font);
    color: #474544;
  font-size: var(--fs-3);
  font-weight: 700;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase;
}
#error404-container{
  height: 90vh;
}
#dropdown {
  position: relative;
  display: inline-block;

}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#dropdown:hover #dropdown-content {
  display: block;
}